<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Vue Mastery Clone - PT-BR</title>
  <!-- Import Styles -->
  <link rel="stylesheet" href="./css/styles.css" />
  <!-- Importa o JS do Framework VueJS -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
  <!-- Container gerenciado pelo VueJS -->
  <div id="app">
    <section class="header">
      <h1 class="title center ma-3">VueJS - Top Cursos</h1>
    </section>
    <section class="banner">
      <header>
        <h2 class="title">Investir em conhecimento tem os melhores juros.</h2>
      </header>
    </section>

    <section class="course-list">
      <ul v-for="course in courses">
        <li class="course-item ma-3">
          <div class="course">
            <div class="course-image">
              <img :src="course.image" alt="" />
            </div>
            <div class="course-info">
              <h2 class="title mb-2">
                {{ course.course }}
                <span class="badge light" v-if="!active">Em breve</span>
              </h2>
              <p class="description">{{ course.description }}</p>
              <div class="course-actions pa-1">
                <p v-if="price == 0" class="badge keep-left bold">FREE</p>
                <p v-else class="badge keep-left bold">R$ {{ course.price }}</p>
                <span>{{ course.duration }} horas</span>
                <button :class="{btn: true, 'btn-primary': active && price == 0}" :disabled="!active || price > 0">
                  Iniciar
                </button>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </section>
  </div>

  <!-- Inicializa App VueJS -->
  <script src="./js/main.js"></script>
</body>

</html>